
.gen-item {
    clear: both;
    overflow: hidden;
    padding-bottom: 3em;
  }


  .gen-title {
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 1.2;
    font-family: $base-font-family;

  }


  .gen-subtitle {
    font-size: 10px;
    letter-spacing: -1px;
    line-height: 1;
    color: rgb(153, 153, 153);
    font-family: $base-font-family;
    font-style: oblique;
    position: relative;
    top: -0.3em;
  
  }


  .gen-container:after {
    clear: both;
 }
  