<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="generation">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          {% for item in page.items %}
          <div class="work-item">
            <span class="work-text">
              <strong>{{ item.title }}</strong> 
              <br>
            </span>
            
            {% for sample in item.samples %}
              <h3>{{ sample.label }}</h3>
              <audio controls>  
                <source src="{{ sample.src | absolute_url}}" type="audio/mp3">
              </audio> 
            {% endfor %}

          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
